<div class="banner">
  <div class="container">
    <h2><%= t ".text_home" %></h2>
    <p><%= t ".des_home" %></p>
    <div class="align-middle">
      <%= link_to t(".signup_now"), signup_path, class: "btn-lg btn-info" %>
    </div>
  </div>
</div>
