<div class="col-md-3 authors">
  <div class="img-author">
    <%= link_to image_tag(user.avatar), user %>
    <div class="info">
      <%= link_to user.name, user %>
      <%= user.posts.size %> posts
    </div>
  </div>
  <div class="info-user">
    <%= link_to "View profile", user, class: "btn btn-primary" %>
  </div>
</div>
