$light-gray: #f7f7f9;
$primary-color-dark: #1976d2;
$primary-color: #2196f3;
$header-color: #383838;
$primary-color-light: #bbdefb;
$primary-color-text: #fff;
$accent-color: #cddc39;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$nerwhile-color: #eaeaea;
$blue-color: #00f;
$gray: #808080;
$red: #f00;
$xam: #bbb;
$e8e8e8: #e8e8e8;
$black: #000;
$gra: #303030;
$clam: #fa4b2a;
$color-ddd: #ddd;
$color-asd: #2d92a9;
$color-asa: #3d9db3;
$green-color: #2bb84c;
