@import 'colors';

.panel-login {
  input {
    border: 1px solid $color-ddd;
    font-size: 16px;
    height: 45px;
    transition: all .1s linear;
  }
}

.btn-login {
  background-color: $green-color;
  color: $primary-color-text;
  height: 100%;
  padding: 14px 0;
  text-transform: uppercase;
  width: 100%;
}

.fullscreen {
  background-image: image-url('abc.jpg');
  background-repeat: repeat;
}

.panel-heading {
  font-size: 40px;
  text-align: center;

  a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    transition: all .1s linear;
  }
}

.avatar {
  .btn-ava {
    display: none;
  }

  .change-btn {
    display: block;
    font-size: 12px;
    text-align: center;
  }

  img {
    border: 1px;
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: auto;
    width: 150px;
  }
}

.tch-img {
  .img-show {
    img {
      width: 730px;
    }
  }

  .img-post {
    img {
      width: 370px;
    }
  }
}

.post-show-home {
  height: 200px;

  .title-post {
    height: 70px;
  }
}

.hide-comment {
  display: none;
}

.comment {
  h2 {
    padding-bottom: 15px;
  }

  .time {
    font-size: 12px;
  }

  .form-edit-cmt {
    display: none;
  }
}

.comment-form {
  display: none;
  padding-top: 20px;
}

.time-comment {
  margin-bottom: 10px;
  overflow: hidden;

  .avatar-comment {
    float: left;
    padding-right: 5px;

    img {
      height: 40px;
      width: 40px;
    }
  }

  .cmt-content {
    float: left;
    overflow: hidden;
  }
}

.top-user {
  img {
    height: 50px;
    width: 50px;
  }
}

.show-users {
  img {
    height: 100px;
    margin-top: 30px;
    width: 100px;
  }
}

.top-post {
  height: 100px;

  .img-top-post {
    img {
      height: 60px;
      width: auto;
    }
  }
}

.edit-profile {
  width: 100%;
}

.follow {
  width: 100%;
}

.stats {
  text-align: center;
}

.signin-fb-gg {
  display: flex;
  margin-top: 25px;

  .sign-inner {
    margin: auto;
  }

  img {
    height: 30px;
  }
}

.remember {
  display: inline;

  .check-box {
    height: 13px;
  }
}
